

*{
  margin: 0;
  padding: 0;
}
.flex{
  display: flex;
}
.navbar{
  padding: 1rem 2rem;
  
}
.sidebar{
  
  height: calc(100vh - 52px);
  width:18rem ;
  
}
.sidebar .nav-link{
  font-weight: 500;
  color: #333;
}
.content{
  width: 100%;
}
.nav-link.active{
  color: #2470dc;
}
.nav-link{
  font-weight: 500;
}
.navbar-brand {
 
  font-weight: 10000;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}
.btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1;
}
.navbar .shadow{
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.form-control{
  border-radius: 10rem;
  padding: 1;
}
.form-control-des{
  border-radius: 1rem;
  padding: 1;
}
.form-control .form-control-sm{  
  border-radius: 1rem;
}

#table-mensajeros{
  border-radius: 10rem;
}
.scrollable{
  height: 400px;
  overflow: scroll;
}
.scrollable, .scrollable-content{
  height: max-content;
  overflow: scroll;
}
.btn-s{

  border-radius: 3rem;
  
}
.hb{
  background-color: rgba(183, 219, 248, 0.281)  ;
  height: 50px;

}
.btn-domi{
  border-radius: 1rem;
  background-color: rgba(0, 110, 255, 0.76);
}

header.site-header h1 {
  font-family: 'Anton', sans-serif;
  font-size:2rem;
}

header.site-header .display-2 {
  font-size: 1.5rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
#form-domi{
  padding-top:2%;
  padding-right: 20%;
  padding-left:20%;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
.nav-link {
  font-size: 18px;
  font-family: 'Oswald';
  color: black;
}
.logo{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.status{
  text-decoration:double chartreuse;
}
.btn-logout{
  height: 80%;
}
@media(max-width:575px){
  #form-domi{
    padding-top:0%;
    padding-right: 0%;
    padding-left:0%;
  }
  .card-table{
    padding-top:0%;
    padding-right: 0%;
    padding-left:0%;
  }
  .details, .status{
    height: 60%;
  }
}
@media(min-width:576px) and (max-width:768px){
  
  #form-domi{
    padding-top:0%;
    padding-right: 0%;
    padding-left:0%;
  }
}
@media(min-width:768px){
  #form-domi{
    padding-top:2%;
    padding-right: 10%;
    padding-left:10%;
  }
  
}
